:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #757575;
  --accent-color: #2196f3;
  --header-text-color: #212121;
}

/* ---------- Сброс некоторых стилей ---------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* ---------- Header ---------- */

.header {
  /* background: #757575; */
  height: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  /* background: center green; */
}

.header-navigation {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-list {
  display: flex;

  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-contact {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-logo-text:hover {
  color: var(--accent-color);
}

.header-logo:hover
/* .header-logo:focus { */ {
  color: #000000;
}

.header-logo {
  margin-right: 93px;
}

.header-logo-text {
  color: var(--header-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.currentLink {
  color: var(--accent-color);
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacts-link:not(:last-child) {
  margin-right: 40px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* ----------Header Logo ---------- */

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

/* ---------- Container ---------- */

.container {
  /* background-color: salmon; */
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* ---------- Button ---------- */

.btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  /* max-width: 200px; */
  /* height: 50px; */
}

.header-btn {
  color: #ffffff;
  margin: 0 auto;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--accent-color);
  background: #ffffff;
}

/* ---------- Main Section ---------- */

.hero {
  background: #2f303a;
  width: auto;
  /* width:1600px; */
  /* padding-top: 200px; */
  /* padding-bottom: 280px; */
  /* margin-bottom: 90px; */
  /* padding-left: 452px; */
  height: 600px;
  margin-bottom: 94px;
}

.hero-title {
  max-width: 696px;
  padding-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

/* ---------- Feature Section ---------- */
.feature {
  /* display: flex; */
  align-items: center;
  margin-bottom: 94px;
}

.feature-title-block {
  display: flex;
  align-items: center;
  margin-right: -30px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-title-item {
  width: 270px;
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.feature-title-text {
  padding-top: 10px;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* ---------- Our Technology ---------- */

.our-commands {
  width: auto;
  /* width: 1600px; */
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-technology {
  margin-bottom: 94px;
}

.our-technology-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.our-technology-list {
  display: flex;
  justify-content: space-between;
}

.our-commands-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: var(--secondary-title-color);
}

.commands-border {
  background-color: #fff;
  /* border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px #757575; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-commands-list {
  display: flex;
  justify-content: space-between;
}
.our-commands-name {
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.our-commands-item {
  /* margin: 0 auto; */

  /* display: block; */
}

.our-commands-workspace {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--third-text-color);
}

/* ---------- Footer ---------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  /* margin-bottom: 20px; */
  height: 252px;
  background-color: #2f303a;
  /* width: 1600px; */
  width: auto;
}

.footer-list {
  padding-top: 20px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo:hover {
  color: var(--primary-title-color);
}

.footer-logo-text {
  color: #ffffff;
}

.footer-logo-text:hover,
.footer-logo-text:focus {
  color: var(--accent-color);
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.adress:hover {
  color: var(--accent-color);
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-link:hover {
  color: var(--accent-color);
}

/* ---------- Portfolio ---------- */

.btn-port {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #f5f4fa;
  border: none;
}

.btn-port:hover {
  color: var(--accent-color);
}

.portfolio-btn {
  color: #000000;
  display: flex;
  height: 38px;
  margin-left: 8px;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-btn-block {
  margin-bottom: 50px;
}

.portfolio-btn-list {
  margin-left: 268px;
  display: flex;
  justify-content: start;
}
.our-projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.our-projects-item {
  margin-left: 30px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}

/* ---------- Portfolio Our Projects---------- */

.our-projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  padding-bottom: 4px;
}

.our-projects-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--third-text-color);
}

.hidden-title {
  display: none;
}

.cards-border {
  padding: 20px 24px;
  /* margin: 0;

  padding: 0;
  padding-left: 24px;
  padding-bottom: 20px; */
  width: calc(370px - 0px);
  height: 110px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: 0;
}
